@import '/src/styles/variables.scss';
@import '/src/styles/global.scss';

.back {
    display: flex;
    align-items: stretch;
    gap: $back-gap;
    margin-top: $back-margin-top;
    cursor: pointer;

    &__icon {
        transform: rotate(90deg);
    }
}

.product {
    display: flex;
    gap: $detail-gap;
    margin-inline: auto;
    margin-bottom: $detail-margin;
    margin-top: $detail-product-margin-top;

    &__image-wrapper {
        width: 100%;
        max-width: $detail-image-width;

        img {
            width: 100%;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: $detail-gap;
    }

    &__buttons {
        display: flex;
        gap: $detail-gap;
        margin-top: $detail-margin;

        &--right {
            border: 1px solid $text-secondary;
            background-color: transparent;

            &:hover {
                background-color: $button-primary-bg-hover;
            }

            &:active {
                background-color: $button-primary-bg-active;
            }
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
        gap: $detail-description-gap;
        margin-bottom: $detail-margin; 
    }
}

.products {
    display: flex;
    justify-content: space-between;
    gap: 79px;
    margin-top: $detail-product-margin-top;  
    margin-bottom: $detail-products-margin-bottom;
}

@media(max-width: 1280px) {
    .products {
        gap: 48px;
    }
}

@media(max-width: 1024px) {
    .product {
        flex-direction: column;
        align-items: center;

        &__content {
            align-items: center;
            text-align: center;
        }
    }

    .actions {
        min-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .products {
        overflow-x: auto;
    }

    .products > * {
        flex-shrink: 0;     
        max-width: 360px;  
    }
}

@media(max-width: 768px) {
    .buttons {
        min-width: 100%;
    }
}
