@import './Roboto/fonts.scss';
@import './variables.scss';

.page {
    max-width: 1240px;
    margin-inline: auto;

    &__title {
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 100%;
      max-width: $title-width;
      margin-inline: auto;
      margin-top: $title-margin-top;
      gap: $gap;
  }
}

@media(max-width: 1280px) {
  .page {
    max-width: calc(100% - 100px);
  }
}

@media(max-width: 414px) {
  .page {
    max-width: calc(100% - 48px);
  }
}


@media(max-width: 1024px) {

}

html, body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
pre {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: $transition;
}

body {
  background-color: $body-bg;
}

button, svg {
  cursor: pointer;
}

#root {
  margin: 0 auto;
}

input {
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
        box-shadow: 0 0 0 30px white inset !important;
        -webkit-text-fill-color: $text-primary !important;
        caret-color: $text-primary;
        border-radius: inherit;
    }
}

.text-error {
    color: #b42432;
    text-align: left;
}

.close-icon {
    position: absolute;
    top: 30px;
    right: 25px;
}
