@import './Roboto/fonts.scss';
@import './variables.scss';

.page {
    max-width: 1240px;
    margin-inline: auto;

    &__title {
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 100%;
      max-width: $title-width;
      margin-inline: auto;
      margin-top: $title-margin-top;
      gap: $gap;
  }
}

html, body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
pre {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: $transition;
}

body {
  background-color: $body-bg;
}

button, svg {
  cursor: pointer;
}

#root {
  margin: 0 auto;
}
