/* Colors */
$text-primary: #000000;
$text-secondary: #AFADB5;
$text-accent: #518581;
$header-icon: #151411;
$button-primary-text: #fff;
$button-primary-bg-disabled: #D9D9D9;
$button-primary-bg-hover: #86AAA7;
$button-primary-bg-active: #487773;
$card-image-bg: #D9D9D9;
$header-outline: #F3F3F3;
$body-bg: #FAFAFA;

/* Main */
$box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
$transition: all 0.3s ease;

/* Loader */
$loader-size-s: 24px;
$loader-size-m: 48px;
$loader-size-l: 60px;

$loader-svg-s: 16px;
$loader-svg-m: 32px;
$loader-svg-l: 40px;

/* Text */
$font-size-title: 44px;
$font-size-subtitle: 32px;
$font-size-button: 18px;
$font-size-p20: 20px;
$font-size-p18: 18px;
$font-size-p16: 16px;
$font-size-p14: 14px;

$line-height-title: 48px;
$line-height-subtitle: 36px;
$line-height-button: 18px;
$line-height-p20: 24px;
$line-height-p18: 22px;
$line-height-p16: 20px;
$line-height-p14: 18px;

$font-weight-title: 700;

/* Button */
$button-gap: 8px;
$button-padd-inline: 20px;
$button-height: 52px;

/* Products page */

$gap: 24px;

$title-width: 653px;
$title-margin-top: 100px;

$subtitle-margin-top: 48px;
$active-margin-top: 50px;

$products-margin-top: 35px;
$products-margin-bottom: 69px;

$product-margin-bottom: 30px;

/* Product page */

$back-gap: 12px;
$back-margin-top: 60px;

$detail-gap: 48px;
$detail-margin: 48px;
$detail-product-margin-top: 32px;
$detail-image-width: 600px;
$detail-description-gap: 24px;
$detail-products-margin-bottom: 140px;

/* MultiDropdown */

$multi-dropdown-width: 300px;
$multi-dropdown-margin-top: 8px;
$multi-dropdown-option-padding: 16px 12px;
$multi-dropdown-option-height: 52px;

/* Card */

$card-width: 360px;
$card-height: 618px;
$card-content-gap: 20px;
$card-content-padding-inline: 12px;
$card-text-gap: 8px;

/* Header */

$header-height: 90px;
$header-padding-inline: 100px;
$header-links-gap: 48px;
$header-icons-gap: 24px;

/* Input */

$input-padding: 16px 12px;
$input-height: 52px;

/* Checkbox */

$checkbox-size: 40px;
