@import '/src/styles/variables.scss';
@import '/src/styles/global.scss';

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 79px;
    margin-top: $products-margin-top;
    margin-bottom: $products-margin-bottom;
    margin-bottom: 128px;
}

.product {
    // margin-bottom: $product-margin-bottom;
    margin-bottom: -49px;
    transition: $transition;
}

.subtitle {
    display: flex;
    align-items: center;
    margin-top: $subtitle-margin-top;
    gap: $gap;
}

@media(max-width: 1280px) {
    .products {
        gap: 50px;
    }

    .product {
        margin-bottom: 0;
    }
}

@media(max-width: 768px) {
    .products {
        gap: 35px;
        margin-inline: 24px;
    }

    .subtitle > * {
        font-size: 24px;
    }

    .subtitle {
        margin-left: 24px;
    }
}
