@import '/src/styles/variables.scss';
@import '/src/styles/global.scss';

.title {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: $title-width;
    margin-inline: auto;
    margin-top: $title-margin-top;
    gap: $gap;
}

.subtitle {
    display: flex;
    align-items: center;
    margin-top: $subtitle-margin-top;
    gap: $gap;
}

.active {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: $active-margin-top;
}

.input {
    display: flex;
    min-width: 100%;
    gap: $gap;
    margin-bottom: 24px;
}

.input > :first-child {
    flex: 1;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: $products-margin-top;
    margin-bottom: $products-margin-bottom;
}

.product {
    margin-bottom: $product-margin-bottom;
    transition: $transition;
}
