@import '/src/styles/variables.scss';

.header {
    width: 100%;
    height: $header-height;
    display: flex;
    padding-inline: calc((100vw - 1240px) / 2);
    justify-content: space-between;
    align-items: center;
    outline: 2px solid $header-outline;
    background-color: $button-primary-text;

    &__links {
        display: flex;
        gap: $header-links-gap;
        position: absolute;
        left: 0;
        top: 32px;
        width: 100%;
        justify-content: center;
    }

    &__icons {
        display: flex;
        gap: $header-icons-gap;
    }

    &__image {
        cursor: pointer;
        z-index: 10;
    }

    &__link {
        position: relative;
        cursor: pointer;

        @media(hover: hover) {
            &:hover {
                color: $text-accent;

                &::after {
                    display: block;
                }
            }
        }

        &::after {
            content: '';
            position: absolute;
            background-color: $text-accent;
            width: 100%;
            height: 2px;
            left: 0;
            bottom: -36px;
            display: none;
        }
    }
}

.menu {
    display: none;
}

.icons {
    display: flex;
    gap: $header-icons-gap;
}

@media(max-width: 1280px) {
    .header {
        padding-inline: 50px;
    }
}

@media(max-width: 1024px) {
    .header__links {
        display: none;
    }

    .menu {
        display: inline;
    }
}

@media(max-width: 768px) {
    .header__icons {
        display: none;
    }

    .header {
        padding-inline: 24px;
        height: 56px;

        &__link {
            &:active {
                color: $text-accent;

                &::after {
                    display: block;
                }
            }
        }
    }
}
