@import '/src/styles/variables.scss';
@import '/src/styles/global.scss';

.text {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-inline: auto;
    max-width: 653px;
}

.title {
    margin-bottom: 24px;
}
