@import '/src/styles/variables.scss';
@import '/src/styles/global.scss';

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 80px;
    margin-block: 80px;
}

@media(max-width: 1400px) {
    .container {
        gap: 50px;
    }
}